@inject PagePayload CmsPage

<!DOCTYPE html>
<html>
@{
	Layout = null;
	ViewBag.Title = CmsPage.Titlebar;
	ViewBag.SiteName = CmsPage.TheSite.SiteName;
	var nav = new TwoLevelNavigation();
}
<head>
	@(new jquerybasic() { SelectedSkin = jquerybasic.jQueryTheme.LightGreen, JQVersion = "3" })
	<title>@ViewBag.Title</title>

	@Html.CarrotCakeHtml().IncludeHead()
</head>
<body>
	<div>
		@nav
	</div>
	<h2>@CmsPage.Heading</h2>
	<div>
		@Html.CarrotCakeHtml().RenderWidget(CommonWidgetZone.phCenterTop)
	</div>
	<div>
		@Html.CarrotCakeHtml().RenderBody(TextFieldZone.TextCenter)
	</div>
	<div>
		@Html.CarrotCakeHtml().RenderWidget(CommonWidgetZone.phCenterBottom)
	</div>
	<div>
		@Html.CarrotCakeHtml().IncludeFooter()
	</div>
</body>
</html>