@model CarrotFaqCategory

@{
	Layout = Carrotware.CMS.Interface.CarrotLayout.Main;
	ViewBag.Title = "Edit FAQ";

	if (Model.FaqCategoryId == Guid.Empty) {
		ViewBag.Title = "Add FAQ";
	}
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.FaqCategoryId)
		@Html.HiddenFor(model => model.SiteId)

		<div class="form-group">
			@Html.LabelFor(model => model.FaqTitle, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.FaqTitle, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
				@Html.ValidationMessageFor(model => model.FaqTitle, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>