@using Carrotware.CMS.Security.Models;
@model UserLogin

@{
	ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
	<div class="col-md-4">
		<div asp-validation-summary="All" class="text-danger"></div>

		@using (Html.BeginForm(null, null, FormMethod.Post)) {
			@Html.AntiForgeryToken()

			<div class="form-outline mb-4">
				@Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Username)
				<label class="form-label" asp-for="@Model.Username"></label>
			</div>

			<div class="form-outline mb-4">
				@Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Password)
				<label class="form-label" asp-for="@Model.Password"></label>
			</div>

			<button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
		}
	</div>
</div>
