@model CarrotCake.CMS.Plugins.PhotoGallery.Models.GalleryModel

@{
	ViewBag.Title = "Test Widget Display";
}

<h2>@ViewBag.Title</h2>

<p>
	@Model.Gallery.GalleryTitle
	|  @Model.Gallery.GalleryId
</p>

<div>
	@Html.Partial("Home/ShowPrettyPhotoGallery")
</div>

<br />
<p>
	@Html.ActionLink("Back to List", "GalleryList")
</p>