@model Northwind.Models.ProductSearch

<div id="divResults">
	<div style="padding:0.75em">
		<h3>Model : @Model.SiteID</h3>
		<h3>ViewBag : @ViewBag.SiteID</h3>

		@using (Html.CarrotWeb().BeginSimpleAjaxForm(new SimpleAjaxFormOptions() { FormId = "frm1", UpdateTargetId = "divResults" }, new { @action = "ProductSearch" }, null)) {
			@Html.HiddenFor(m => m.AltViewName)

			<table>
				<tr>
					<td>
						@Html.DropDownListFor(m => m.SelectedCat, new SelectList(Model.Options, "CategoryId", "CategoryName", Model.SelectedCat), "[select]", new { @class = "form-control form-select smtext" })
					</td>
					<td>
						<div style="padding:1.5em">
							<input type="submit" class="btn btn-info" value="Submit" />
						</div>
					</td>
				</tr>
			</table>
		}
	</div>
	<div style="padding:0.75em">
		@Html.Partial("Products", Model.Results)
	</div>
</div>